@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space: var(--font-space-grotesk);
  --font-mont: var(--font-montserrat);
  --font-pop: var(--font-poppins);
  --font-urban: var(--font-urbanist);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.home {
  @apply min-h-screen bg-[#f8f9fe] font-sans dark:bg-[#f8f9fe];
}

.homedark {
  @apply min-h-screen bg-[#000000] font-sans dark:bg-[#000000];
}

.heading {
  margin-left: auto;
  margin-bottom: auto;
}

.signhead {
  text-align: center;
  font-size: xx-large;
  color: white;
  font-family: var(--font-space-grotesk);
  font-weight: 500;
}

.sign-description {
  text-align: center;
  color: #bbbbbb;
  padding-top: 10px;
  font-family: var(--font-space-grotesk);
}

.signhead::selection,
.sign-description::selection {
  background-color: white;
  color: black;
}

.splitter-container {
  width: 30%;
  display: flex;
  align-items: center;
  margin: 20px auto 16px auto;
  color: #aaa;
  font-size: 14px;
}

.splitter-line {
  flex-grow: 1;
  height: 1px;
  background-color: #555;
}

.splitter-text {
  padding: 0 15px;
  white-space: nowrap;
  user-select: none;
}

.fields {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.fields > * {
  width: 100%;
}

@media (min-width: 640px) {
  .fields {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .fields {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .fields {
    width: 30%;
    flex-direction: row;
  }

  .fields > * {
    width: calc(50% - 5px);
  }
}

.login {
  text-align: center;
  color: #8e8e8e;
  margin-top: 16px;
  font-weight: 500;
}

.loginbtn {
  color: white;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.forgotpw {
  font-family: var(--font-space-grotesk);
  font-weight: 500;
  @apply text-sm text-blue-600 dark:text-blue-400 hover:underline;
}

.holdbutton {
  display: inline-block;
  margin-right: 10px;
  position: absolute;
  position: inherit;
  user-select: none;
}

.main {
  @apply flex flex-col items-center justify-center px-4 py-16;
}

.hero {
  @apply text-4xl sm:text-5xl md:text-7xl lg:text-8xl font-black tracking-tighter text-slate-900 mb-6 leading-none text-center max-w-5xl mt-8;
}

.remember {
  @apply text-transparent bg-clip-text bg-linear-to-br from-purple-600 to-blue-600;
}

.hero-description {
  @apply max-w-xl mx-auto text-base md:text-lg lg:text-xl text-slate-500 font-medium text-center px-4;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.select-dark::selection,
.select-dark::-moz-selection {
  background-color: black;
  color: white;
}

.center-top{
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}