.nav {
  display: flex;
  gap: 50px;
}

@media (max-width: 1024px) {
  .nav {
    gap: 35px;
  }
}

@media (max-width: 1024px) {
  .nav {
    flex-direction: column;
    gap: 25px;
    margin-top: 0;
  }
}

.li_items {
  font-family: var(--font-urbanist);
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .li_items {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .li_items {
    font-size: 0.9rem;
  }
}

.active {
  color: black;
}

.unactive {
  color: #969696;
}
